@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}



        <tr>
          <td>&nbsp;</td>
        </tr>

    
        <tr>
          <td style="font-size:12px; ">
@model Jeanstation.Models.Feedback

@{
    ViewBag.Title = "Thanks for the Feedback";
}

<h2>Thanks for the Feedback</h2>
</td>
        </tr>
        
<br />
<br />
Last updated on: @System.DateTime.Now
