@charset "utf-8";
/* CSS Document */

#cssmenu ul{
	list-style-type:none;
    position:relative;
	display:block;
	text-transform:uppercase;
	font-size:13px;
	background:transparent url(../images/blue.jpg) repeat-x top left;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	width:905px;
	height:40px;
	margin:0px auto;
}
#cssmenu li{
	display:block;
	float:left;
	margin:0;
	pading:0;
	border-right:1px solid #ffffff;
	}
#cssmenu li a{
	display:block;
	float:left;
	color:#ffffff;
	text-decoration:none;
	padding:12px 20px 0 20px;
	height:24px;
	height:40px;
	}
#cssmenu .active {
	background:transparent url(../images/black.jpg) repeat-x top left;	
}
#cssmenu li a:hover{
	background:transparent url(../images/black.jpg) repeat-x top left;	
	}
