*
{
	margin: 0px;
	padding: 0px;
	border: none;
}



body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBF9EF;
	padding: 0px 6%;
}

#container
{
	float: left;
}

#header
{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
}

#header h1
{
	font-size: 18px;
	float: left;
	background: url(/content/Images/logo.png) no-repeat;
	padding: 45px 0px 5px 0px;
}

#promotion
{
	height: 300px; 
	width: 700px; 
	background: url(/content/Images/home-showcase.png) no-repeat;
}

ul li a
{
	font-size: 16px;
}

#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#pizza-list
{
	list-style: none;
	margin-left: 0px;
}

ul#pizza-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#pizza-list li a, ul#pizza-list li .button
{
	font-size: 13px;
	float: left;
}
p#pizza-pricelist {
   
	color: #FF7F00;
	text-decoration: underline;
}
ul#pizza-list li a span
{
    font-family: Constantia, Georgia, serif;
	color: #FF7F00;
	text-decoration: underline;
}

#cart
{
	float: right;
}

#update-message
{
	color: #F6855E;
	font-weight: bold;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}

#removebutton
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #fff;
	color: #7F55FF;
	font-weight: bold;
}
.button a
{
	color: #fff !important;
}

#footer
{
	clear: both;
	padding: 10px;
	text-align: right;
	border-top: 1px dotted #8A8575;
	border-bottom: 1px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
}



/* Tables */
table#table-1 
{
	border: 1px solid #000;
	border-collapse: collapse;
	color: #666666;
	min-width: 500px;
	width: 100%;
}

tr#table-2 
{
	border: 1px solid #000;
	line-height: 25px;
    color: #000;
	font-size: 13px;
}
tr#table-total 
{
	border: 1px solid #000;
	line-height: 25px;
    color: #000;
	font-size: 15px;
    font-weight: bold;
}

th#table-3 
{
	background-color: #9b9993;
	color: #000;
	font-size: 13px;
	text-align: left;
}

th#table-4 , td#table-5 
{
	padding-left: 5px;
}

/******************** Top Navigation ************************/
ul#navlist
{
	float: right;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	border-left: 1px dotted #8A8575;
	padding: 10px;
	margin-top: 10px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a
{
	border: none;
}



/********************* End top navigation ***************************/

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

h2
{
	color: #D75500;
}

h2, h3
{
    margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

h3
{
	color: #9B9993;
}

#header h1 a, h3 em
{
	color: #5E5B54;
}

a:link, a:visited
{
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}



a:active
{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#basketsummary a:link, #basketsummary a:visited
{
	color: #FF0000;
	text-decoration: none;
	font-weight: normal;
}

/***************************** sidebar navigation ****************************/
#CategoryMenu
{
background-color: #D70204;
	

}

td#topsidebar 
{
	font-family: Constantia, Georgia, serif;
    background-color:#D70204;
    color:#FFCC00;
    text-align:center;
    font-size: 24px;
    border-top-style:groove;
    border-bottom-style:groove;
   
}

#categories
{
	font-family: Constantia, Georgia, serif;
    list-style-type: none;
	padding-left: 10px;
	margin-left: 10px;
    padding-right: 10px;
	margin-right: 10px;
    margin-bottom: 50px;
	float: none;
    font-size: 16px;
    padding-bottom: 1em;
}

#categories li
{
    padding-bottom: 1em;
}

#categories a:link, #categories a:visited
{
	color: #ffeeee;
	text-decoration: none;
    font-weight: normal;
}

p#pizza-details-title 
{
    font-family: Constantia, Georgia, serif;
    margin-top: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	font-style: normal;
	color: #D75500;
	font-weight: bold;
}
p#pizza-details 
{

	margin-bottom: 5px;
	color: #D75500;
	font-weight: bold;
}

p#pizza-details-ingredients 
{
    font-family: Constantia, Georgia, serif;
	margin-bottom: 5px;
	color: #D75500;
	font-weight: bold;
}
p#promo-caption
{
    font-family: Verdana;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
    background-color:#D70204;
}

p#call-caption
{
    font-family: Verdana;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
	color: #FFFFFF;
    background-color:#D70204;
    
}

p em
{
	color: #9b9993;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password]
{
	border: 1px solid #8A8575;
	width: 200px;
}


input select
{
	border: 1px solid #5D5A53;
	width: 100px;
}


/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


.autoCompleteClass {      
  display:normal;
  float: left;
}

#PromoDiv {
    width:300px; height: 350px; background-color:#D70204;


}

@media screen and (max-width:1200px) {

    #CategoryMenu {

        width:30%;
    }
    #Name {
       font-size:24px
    }

    #PromoDiv {
    width:200px; height: 350px; background-color:#D70204;


    }
    #PizzaImage {

        width:400px;
            height:275px;
    }
  

}

@media screen and (max-width:800px) {
        #Name {
       font-size:18px
    }
           #PromoDiv {
    width:100px; height: 600px; background-color:#D70204;


    }

          #PizzaImage {

        width:250px;
            height:275px;
    }
}


