@media screen and (max-width:1200px) {

 
    #Name {
       font-size:24px
    }

    #JeansImage {

        width:400px;
            height:275px;
    }
  

}

@media screen and (max-width:800px) {
        #Name {
       font-size:18px
    }

          #JeansImage {

        width:250px;
            height:275px;
    }
}

